<footer class="footer">
  <small>
    The <a target="_blank" href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  </small>

  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><a target="_blank" href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>